<!-- //for-mobile-apps -->
<link rel="stylesheet" type="text/css" th:href="@{../static/css/boostrap.css}" media="all" />
<!--<<link rel="stylesheet" type="text/css" th:href="@{/css/easy-responsive-tabs.css}" media="all" />-->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/popuo-box.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/zoomslider.css}"  />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"  />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"  />



<!-- pop-up --><!-- //pop-up -->
<script type="text/javascript" th:src="@{/js/modernizr-2.6.2.min.js}"></script>
<!--/web-fonts-->
<link th:href='@{//fonts.googleapis.com/css?family=Tangerine:400,700}' rel='stylesheet' type='text/css'>
<link th:href="@{//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900}" rel="stylesheet">
<link th:href='@{//fonts.googleapis.com/css?family=Montserrat:400,700}' rel='stylesheet' type='text/css'>
<!--//web-fonts-->