<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Đọc truyện online - Truyện Kiếm Hiệp, Tiên Hiệp, Sắc Hiệp, Truyện YY
    </title>
    <script id="desktopBaseJS" type="text/javascript" src="https://yycdn.truyenyy.com/static/desktop/js/desktop-base.90e96f8d.js"></script>
    <script type="text/javascript">if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw-desktop.js', {scope: '/'}).then(function (registration) {
            console.log('truyenyy-desktop-pwa: ServiceWorker registration successful with scope: ', registration.scope);
        }, function (err) {
            console.log('truyenyy-desktop-pwa: ServiceWorker registration failed: ', err);
        });
    }</script>
    <link rel="shortcut icon" type="image/x-icon" href="https://yycdn.truyenyy.com/static/v2018/img/icon-v2018-32.png">

    <!--    <script id="desktopBaseJS" type="text/javascript"-->
    <!--            src="https://yycdn.truyenyy.com/static/desktop/js/desktop-base.90e96f8d.js"></script>-->

</head>
<body style="font-family: Verdana, "Times New Roman", sans-serif; ">
<head th:include="fragments/app-detail-story :: head"></head>
<div th:replace="fragments/app-index ::top"></div>
<!--end search-->
<!--menu-->
<div th:replace="fragments/app-index ::menu"></div>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><strong class="divider" style="text-decoration: underline">Tên truyện : </strong></li>
                <li class="active"><strong th:text="${story.title}" style="font-size: 20px; color:#0e90d2; padding-left: 5px;" ></strong></li>
            </ul>
            <div>
                <div class="rightbar hide-s"
                     style="width: 160px;box-sizing: border-box;float: left;margin-right: 20px;"></div>
                <div class="rightbar hide-x"
                     style="width: 300px;box-sizing: border-box;float: right;margin-left: 20px;">
                    <div class="related" style=" border-radius: 5px">
                        <h2>Các truyện bạn nên đọc</h2>
                        <div class="story">
                            <a href="#" target="_blank"><h3><i class=""></i> Cửu Đỉnh Ký Full </h3></a>
                            <span> - Tác Giả: Ngã Cật Tây Hồng Thị</span>
                            <br>
                            <span> - Thể Loại: Tiên Hiệp</span>
                        </div>
                        <div class="story">
                            <a href="#" target="_blank"><h3><i class=""></i> Băng Hỏa Ma Trù Full </h3>
                            </a>
                            <span> - Tác Giả: Đường Gia Tam Thiếu</span>
                            <br>
                            <span> - Thể Loại: Tiên Hiệp</span>
                        </div>
                        <div class="story">
                            <a href="#" target="_blank"><h3><i class=""></i> Quang Chi Tử Full </h3></a>
                            <span> - Tác Giả: Đường Gia Tam Thiếu</span>
                            <br>
                            <span> - Thể Loại: Tiên Hiệp</span>
                        </div>
                        <div class="story">
                            <a href="#" target="_blank"><h3><i class=""></i> Lộng Triều Full </h3></a>
                            <span> - Tác Giả: Thụy Căn</span>
                            <br>
                            <span> - Thể Loại: Đô Thị</span>
                        </div>
                        <div class="story">
                            <a href="#" target="_blank"><h3><i class=""></i> Huyền Giới Chi Môn Mới nhất:
                                Chương 408</h3></a>
                            <span> - Tác Giả: Vong Ngữ</span>
                            <br>
                            <span> - Thể Loại: Tiên Hiệp</span>
                        </div>
                    </div>
                    <div class="fb-like-box" data-href="#" data-width="300" data-colorscheme="light"
                         data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                </div>
                <div class="rowest">
                    <div class="xfor">
                        <div class="thumbnail">
                            <img th:src="${story.thubnail_file}" alt="${detailStory.thubnail_file}"
                                 style="width: 190px;height: 280px;"/>
                        </div>
                        <div class="lww">
                            <p>
                                <span class="xleft">Tác Giả:</span>
                                <span>&nbsp;<a th:text="${story.director}"
                                               th:href="@{/story/{id}/{director}(id=${story.id}, director= ${story.director})}"
                                               target="_blank">${story.director}</a></span>
                            </p>
                            <p>
                                <span class="xleft">Lượt Đọc:</span>
                                <span th:text="2204"></span>
<!--                                <span th:text="${story.view}"></span>-->
                            </p>
                            <p>
                                <span class="xleft">Trạng Thái:</span>
                                <span>&nbsp;Còn tiếp...</span>
                            </p>
                        </div>
                    </div>

                    <div class="rofx">
                        <h1 th:text="${story.title}"></h1>
                        <div style="margin: 5px auto;text-align: center;">
                            <a class="btn btn-mini btn-success" th:href="${'/story/' + {story.id} + '/chapter/' + {1}}" tppabs="#-1/">
                                <i class="icon-play icon-white"></i> Đọc truyện từ đầu
                            </a>
                            <a class="btn btn-mini btn-success" th:href="${'/story/' + {story.id} + '/chapter/' + {1}}" tppabs="#-1464/">
                                <i class="icon-fire icon-white"></i> Đọc chương mới nhất
                            </a>
                            <a   type="button" class="btn btn-mini btn-success" style="margin-top: 5px; border-radius: 5px" th:href="${'/story/' + {story.id} + '/list_chapter'}"><i
                                    class="icon-leaf icon-white"></i> Danh sách chương</a>
                            <br><br>

                        </div>
                        <div id="desc_story">
                            <p style="font-weight: bold; font-size: 15px; font-family: Verdana">Giới Thiệu Truyện</p>
                            <p th:text="${story.description}"></p>
                            <div class="fb-like" style="display:block;float:left;" data-href="#dai-chua-te  #  #%27"
                                 data-send="false" data-layout="button_count" data-width="200px" data-show-faces="false"
                                 data-font="verdana"></div>
                            &nbsp;<div class="g-plusone" data-size="medium" data-href="index-15.htm"></div>
                            <p style="float: right;"><em>(Nguồn: <span th:text="${story.director}"></span>)</em></p>
                        </div>
                        <div class="showmore"><a href="javascript:void(0)" class="btn btn-info btn-mini"
                                                 onclick="$('#desc_story').css('height','auto');$('.showmore').hide()">Xem
                            thêm »</a></div>
                        <span style="font-size: 20px;"><em>Danh sách chương truyện</em></span>
                        <ul style="margin: 0 0 10px 0; font-size: 15px; padding: 5px    ">
                            <th:block th:each="chapter : ${chapters}">
                                <li  class="ip5">
                                    <a th:href="${'/story/' + {story.id} + '/chapter/' + {chapter.id}}"><i  th:text="${chapter.title} + ' - ' +             ${chapter.name} "></i></a>
                                </li></ul>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin: 0; border-bottom: 1px solid #eee;">
                            <div class="chaplist" id="dschuong">
                                <h2>Danh sách chương truyện</h2>
                                <div th:each="chapter : ${chapters}">
                                    <a class="jblack" th:href="@{/}" target="_blank"><i class="icon-leaf"></i>
                                        <p th:text="${chapter.title} + ' - ' + ${chapter.name}"></p>
                                    </a>
                                </div>
                        </th:block>
                        <div class="paging">
                            <form action="#" method="get" rel="nofollow">
                                <span style="font-size: 14px">Truyền Tống đến Trang:</span>
                                <input name="page" type="text" value="" style="width:60px;height: 35px;margin: 10px; border-radius: 5px">
                                <button class="btn btn-warning"><i class=""></i> <span
                                        class="jblack">Go</span></button>
                            </form>

                            <div class="pagination pagination-centered" >
                                <ul style="display: flex; text-decoration: none; list-style-type: none; font-size: 20px">
                                    <li class="disabled" style="padding-right: 50px"><a href="javascript:">&larr;</a></li>
                                    <li style="padding-right: 50px" class="active"><a href="javascript:">1</a></li>
                                    <li style="padding-right: 50px"><a href="#">2</a></li>
                                    <li style="padding-right: 50px"><a href="#">3</a></li>
                                    <li style="padding-right: 50px"><a href="#">4</a></li>
                                    <li style="padding-right: 50px"><a href="#">5</a></li>
                                    <li style="padding-right: 50px"><a href="javascript:">...</a></li>
                                    <li style="padding-right: 50px"><a href="#">28</a></li>
                                    <li style="padding-right: 50px"><a href="">29</a></li>
                                    <li style="padding-right: 50px"><a href="#">30</a></li>
                                    <li style="padding-right: 50px"><a href="">&rarr;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <hr/>
        </div>
</div>

<script>(function (d, s, a, i, j, r, l, m, t) {
    try {
        l = d.getElementsByTagName('a');
        t = d.createElement('textarea');
        for (i = 0; l.length - i; i++) {
            try {
                a = l[i].href;
                s = a.indexOf('/cdn-cgi/l/email-protection');
                m = a.length;
                if (a && s > -1 && m > 28) {
                    j = 28 + s;
                    s = '';
                    if (j < m) {
                        r = '0x' + a.substr(j, 2) | 0;
                        for (j += 2; j < m && a.charAt(j) != 'X'; j += 2) s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                        j++;
                        s = decodeURIComponent(s) + a.substr(j, m - j)
                    }
                    t.innerHTML = s.replace(/</g, '&lt;').replace(/\>/g, '&gt;');
                    l[i].href = 'mailto:' + t.value
                }
            } catch (e) {
            }
        }
    } catch (e) {
    }
})(document);</script>
        <!-- Table End-->
</div>
<div th:replace="layout/footer :: footer"></div>

</body>
</html>