<div th:fragment="pagegination">
    <div class="paging">
        <form action="#" method="get" rel="nofollow">
            <span style="font-size: 14px">Truyền Tống đến Trang:</span>
            <input name="page" type="text" value="" style="width:60px;height: 35px;margin: 10px; border-radius: 5px">
            <button class="btn btn-warning"><i class=""></i> <span
                    class="jblack">Go</span></button>
        </form>

        <div class="pagination pagination-centered" >
            <ul style="display: flex; text-decoration: none; list-style-type: none; font-size: 20px">
                <li class="disabled" style="padding-right: 50px"><a href="javascript:">&larr;</a></li>
                <li style="padding-right: 50px" class="active"><a href="javascript:">1</a></li>
                <li style="padding-right: 50px"><a href="#">2</a></li>
                <li style="padding-right: 50px"><a href="#">3</a></li>
                <li style="padding-right: 50px"><a href="#">4</a></li>
                <li style="padding-right: 50px"><a href="#">5</a></li>
                <li style="padding-right: 50px"><a href="javascript:">...</a></li>
                <li style="padding-right: 50px"><a href="#">28</a></li>
                <li style="padding-right: 50px"><a href="">29</a></li>
                <li style="padding-right: 50px"><a href="#">30</a></li>
                <li style="padding-right: 50px"><a href="">&rarr;</a></li>
            </ul>
        </div>
    </div>
</div>