<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/app-index :: head"></head>
<body>
<div th:replace="fragments/app-index ::top"></div>
<!--end search-->
<!--menu-->
<div th:replace="fragments/app-index ::menu"></div>
<!--END MENU-->
<!--            CONTAINER-->
<!--                1-->
<div style="display: none; width: 1349px; height: 40px; float: none;"></div>
<div class="container focus-box mt-4">
    <div class="row">
        <div class="col-3" id="react-root_desktop-home-genres" style="position: static;">
            <div tabindex="-1">
                <div class="homeGenresList">
                    <div class="top-genres bg-dark"><a th:href="@{/story/story_new}" class="genre"><i
                            class="yyicon icon-dragon"></i>
                        <div class="ml-2">
                            <div class="name">Mới cập nhật</div>
                            <!--                            <div class="num">2.3k</div>-->
                        </div>
                    </a><a th:href="@{/story/story_good}" class="genre"><i class="yyicon icon-sword"></i>
                        <div class="ml-2">
                            <div class="name">Hay nhất</div>
                        </div>
                    </a><a th:href="@{/story/story_hot}" class="genre"><i class="yyicon icon-history"></i>
                        <div class="ml-2">
                            <div class="name">Hot nhất</div>
                        </div>
                    </a>
                        <a th:href="@{/story/story_new}" class="genre"><i class="yyicon icon-women"></i>
                            <div class="ml-2">
                                <div class="name">Ngẫu nhiên</div>
                            </div>
                        </a>
                        <a th:href="@{/category/2}" class="genre"><i class="yyicon icon-women"></i>
                            <div class="ml-2">
                                <div class="name">Kiếm hiệp</div>
                            </div>
                        </a>
                        <a th:href="@{/category/3}" class="genre"><i class="yyicon icon-fantasy"></i>
                            <div class="ml-2">
                                <div class="name">Lịch Sử</div>
                            </div>
                        </a>
                        <a th:href="@{/category/4}" class="genre"><i class="yyicon icon-moon"></i>
                            <div class="ml-2">
                                <div class="name">Ngôn Tình</div>
                            </div>
                        </a>
                        <a th:href="@{/category/5}" class="genre"><i class="yyicon icon-urban"></i>
                            <div class="ml-2">
                                <div class="name">Sắc Hiệp</div>
                            </div>
                        </a>
                        <a th:href="@{/category/6}" class="genre"><i class="yyicon icon-supernatural"></i>
                            <div class="ml-2">
                                <div class="name">Tiên Hiệp</div>
                            </div>
                        </a>
                        <a th:href="@{/category/7}" class="genre"><i class="yyicon icon-animal"></i>
                            <div class="ml-2">
                                <div class="name">Truyện Dị Giới</div>
                            </div>
                        </a>
                        <a th:href="@{/category/8}" class="genre"><i class="yyicon icon-clan"></i>
                            <div class="ml-2">
                                <div class="name">Đô Thị</div>
                            </div>
                        </a>
                        <a th:href="@{/category/9}" class="genre"><i class="yyicon icon-yinyang6"></i>
                            <div class="ml-2">
                                <div class="name">Huyền Ảo</div>
                            </div>
                        </a>
                        <a th:href="@{/category/10}" class="genre"><i class="yyicon icon-science-fiction"></i>
                            <div class="ml-2">
                                <div class="name">Trinh Thám</div>
                            </div>
                        </a><a th:href="@{/category/11}" class="genre"><i class="yyicon icon-military"></i>
                            <div class="ml-2">
                                <div class="name">Cổ Đại</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="react-root_desktop-home-slider" class="home-slider">
                <div class="desktopHomeSlider">
                    <div class="slick-slider slick-initialized" dir="ltr">
                        <div class="slick-list">
                            <div class="slick-track"
                                 style="width: 4905px; opacity: 1; transform: translate3d(-1090px, 0px, 0px);">
                                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true"
                                     style="outline: none; width: 545px;">
                                </div>
                                <div data-index="6" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="false"
                                     style="width: 545px;">

                                </div>
                                <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                                     style="width: 545px;">
                                    <div>
                                        <div class="slideItem" tabindex="-1"
                                             style="width: 100%; display: inline-block;">

                                            <picture>
                                                <source type="image/webp"
                                                        srcset="https://yycdn.truyenyy.com/media/featured_novels/van-co-than-de-desktop-truyenyy.webp">
                                                <img src="https://yycdn.truyenyy.com/media/featured_novels/van-co-than-de-desktop-truyenyy.jpg"
                                                     alt="" class="img"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="slickDots" style="display: block;">
                            <li class="">
                                <div style="text-align: center" class="">Truyện YY : Chúc bạn có những phút giây thật
                                    vui vẻ
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="text-center border-0 tip-box">
                <h4>Bạn muốn đăng truyện lên TruyenYY?</h4>
                <p>Chúng tôi sẵn sàng hỗ trợ bạn bất cứ lúc nào. Hãy nhấn vào lựa chọn bên dưới.</p>
                <p>
                    <a th:href="@{/story/create}" class="btn btn-primary btn-block">Đăng Truyện Lên Trang</a>
                    <a th:href="@{/contact}" class="btn btn-primary btn-block">Liên Hệ Với ADMIN</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--END 1-->
<!--2 story update-->
<div class="container home-grid mt-3">
    <div class="row">
        <div class="col-3">
            <div th:replace="fragments/app-index :: list-new"></div>
        </div>

        <div class="col-9">
            <div th:replace="fragments/app-index :: suggest"></div>
        </div>
    </div>
</div>
<div class="container full-banner mt-3">
    <div class="tkb" style="width: 1110px; height: 60px; ">
        <a href="http://bit.ly/2vuTjfY" target="_blank" rel="noopener" title="Tài khoản TruyenYY Premium"
           aria-label="Tài khoản TruyenYY Premium">
            <img class="lazy loaded" data-src="https://i.imgur.com/V2YPMTE.jpg" alt=""
                 style="width: 1110px; height: 60px;" src="https://i.imgur.com/V2YPMTE.jpg" data-was-processed="true">
        </a>
    </div>
</div>

<!--        Pre-->
<!--4 cate index-->
<div th:replace="fragments/app-index ::top-4-cate"></div>
<!--//top de cu-->
<div th:replace="fragments/app-index ::top-de-cu"></div>
<div th:replace="fragments/app-index ::footer"></div>
<!--END FOOTER-->
</body>
</html>