<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Đăng nhập tài khoản</title>
<link th:href="@{../css/desktop-base.11d940c6.css}" rel="stylesheet">
<link th:href="@{../css/boostrap.css}" rel="stylesheet">
<link th:href="@{../css/bootstrap-responsive.css}" rel="stylesheet">
<link th:href="@{../css/yamm.css}" rel="stylesheet">
<link th:href="@{../css/style.css}" rel="stylesheet">
<link th:href="@{../css/chosen.css}" rel="stylesheet">

<style>
	body {
		padding-bottom: 40px;
		height: auto;
	}
	.input-cors{
		display: -ms-flexbox; /* IE10 */
		display: flex;
		width: 100%;
		margin-bottom: 15px;
	}
	.iconinput {
		padding: 10px;
		background: dodgerblue;
		color: white;
		min-width: 50px;
		text-align: center;
	}
	.input-fielder {
		width: 100%;
		padding: 10px;
		outline: none;
		border-radius: 10px;
	}
	.input-fielder:focus {
		border: 2px solid dodgerblue;
	}
</style>
<body>
<div th:replace="fragments/app-index ::top"></div>
<div th:replace="fragments/app-index ::menu"></div>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="container">
				<div class="row">
					<div class="span12 auth">
						<h1 class="page-header" style="padding: 20px">Đăng Nhập Tài Khoản</h1>
						<div class="alert alert-info">
							<p><b>Chú ý:</b> Các bạn trước đây đã đăng nhập bằng Facebook không cần đăng ký mới, các bạn
								có thể đăng nhập với thông tin như sau:</p>
							<p><b>Username:</b> Địa chỉ Email dùng để đăng nhập tài khoản của các bạn. Ví dụ:
								thetung.dev@gmail.com</p>
							<p><b>Mật khẩu:</b> Mật khẩu đăng nhập. Ví dụ: lacongaiphaixinh</p>
						</div>
						<div class="row">
							<div class="span9">
								<form th:action="@{/login}" method="post" role="form">
									<div id="div_id_username" class="control-group">
										<label class="control-label requiredField">Tên đăng nhập(Email)<span
												class="asteriskField">*</span></label>
										<div id="div_id_email" class="form-group">
											<div class="input-cors">
												<input name="username" type="text" autofocus="autofocus" required="required" placeholder="Tên tài khoản đăng nhập" class="input-fielder" id="id_email"/></div>
										</div>
									</div>
									<label class="control-label requiredField">Mật khẩu<span
											class="asteriskField">*</span></label>
									<div id="" class="form-group">
										<div class="input-cors">
											<input name="password" type="password" autofocus="autofocus" required="required" placeholder="Nhập mật khẩu" class="input-fielder" id="id_email"/></div>
									</div>
									<button type="submit" class="btn btn-primary btn-lg" data-loading-text="Đang xử lí">
										<i class=""></i> Đăng nhập
									</button>
									<button type="reset" class="btn btn-danger">Xóa</button>
									<input name="next" type="hidden" value=""/>
								</form>
								<ul style="margin: 0">
									<li class="nav" style="margin: 20px 10px 10px -30px"><i class=""></i> <a class="btn btn-primary" th:href="@{/create}">
										Đăng ký Tài khoản mới</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="fragments/app-index ::footer"></div>
</body>
</html>