<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Đăng kí thành công</title>
</head>
<div class="jumbotron text-center">
    <h1 class="display-3">Đăng Kí Tài Khoản Thành Công!</h1>
    <a th:href="@{/login}"><p class="lead"><strong>Đăng nhập cùng Truyện YY nào!</strong></p></a>
    <hr>
    <p>
        Liên hệ với chúng tôi <a th:href="@{/contact}">Contact</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" th:href="@{/}" role="button">Trỏ về trang chủ</a>
    </p>
</div>
</html>